.about {
    padding-top: 30px;
    min-height: 350px;
    &__title {
        margin: 15px 0 35px 0;
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        color: #f2952c;
        &:after {
        content: '';
        display: block;
        width: 25%;
        height: 1px;
        background-color: #c78030;
        margin: 0 auto;
        }
    }
    &__descr {
        font-size: 26px;
        font-weight: normal;
        text-align: justify;
        color: #fff;
    }
}